body {
  margin: 0;
  overflow-x: hidden;
  color: white;
  --custom-coral: #EE786E;
}

.page {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.left, .right {
  width: 50%;
  height: 100%;
}

.center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.left h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 58px;
}

.intro.page > .text-overlay {
  position: absolute;
  z-index: 1;
  top: 5vw;
  bottom: 5vw;
  left: 7vw;
  right: 7vw;
  font-family: 'Montserrat', Arial, sans-serif;
}

.name-bar {
  height: 30px;
  width: fit-content;
  display: flex;
  align-items: center;
}

.name-bar > div:first-child > * {
  margin: -3px 0;
  font-size: 16px;
  font-weight: 800;
}

.main.page > .left {
  background-color: var(--custom-coral);
}

.work.page > .right {
  background-color: var(--custom-coral);
}

.divider {
  margin-left: 16px;
  height: 100%;
  width: .15vw;
  min-width: 2px;
  background: currentColor;
}

.name-bar > svg {
  font-size: 24px;
  margin-left: 16px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.description-bar {
  position: absolute;
  bottom: 0;
}

.description-bar > svg {
  cursor: pointer;
  font-size: 50px;
  transition: all .2s ease-in-out;
}

.name-bar > svg:hover,
.description-bar > svg:hover {
  color: lightpink;
  transform: scale(1.2);
}