body {
  margin: 0;
  overflow-x: hidden;
  color: white;
  --custom-coral: #EE786E;
  --text-dark: rgb(74, 78, 81);;
}

.page {
  display: flex;
  width: 100%;
  height: 100vh;
}

.left, .right {
  width: 50%;
  height: 100%;
}

.center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.intro.page > .text-overlay {
  position: absolute;
  z-index: 1;
  top: 5vw;
  bottom: 5vw;
  left: 7vw;
  right: 7vw;
  font-family: 'Montserrat', Arial, sans-serif;
}

.name-bar {
  height: 30px;
  width: fit-content;
  display: flex;
  align-items: center;
}

.name-bar > div:first-child > * {
  margin: -3px 0;
  font-size: 16px;
  font-weight: 800;
}

.divider {
  margin-left: 16px;
  height: 100%;
  width: .15vw;
  min-width: 2px;
  background: currentColor;
}

.social-media {
  font-size: 24px;
  margin-left: 16px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.social-media:first-child {
  margin-left: 0;
}

.description-bar {
  position: absolute;
  bottom: 0;
}

.description-bar > svg {
  cursor: pointer;
  font-size: 50px;
  transition: all .2s ease-in-out;
}

.social-media:hover,
.description-bar > svg:hover {
  color: lightpink;
  transform: scale(1.2);
}

.about.page {
  font-family: 'Open Sans', sans-serif;
}

.about.page > .right {
  color: var(--text-dark);
  max-width: 50vw;
  margin: auto;
}

.about.page > .left {
  display: flex;
  flex-direction: column;
  width: 40%;
  background-color: rgba(238, 238, 238, 0.6);
}

.about.page .center.top {
  display: flex;
  flex-direction: column;
  background-color: #2d3e50;
  height: 32vh;
  width: 100%;
}

.icon {
  background: 
    url(/my-photo.png) no-repeat 10px 10px / cover,
    linear-gradient(113.83124106282105deg, rgba(248, 198, 215,1) 4.927083333333334%,rgba(175, 233, 249,1) 97.84374999999999%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.about.page .center.top h3 {
  font-size: 28px;
  font-weight: 600;
  margin: 10px 0;
}

.about.page .center.top h4 {
  margin: 0;
}

.about.page .center.top::after {
  content: "";
  position: absolute;
  background: #2d3e50;
  top: 28.5vh;
  width: 40%;
  height: 7vh;
  transform: skewY(-5deg);
}

.about.page .bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--text-dark);
  flex: 1;
  padding-top: 8vh;
  padding-bottom: 8px;
}

.about.page .bottom > * {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  color: #9099a0;
}

.about.page .bottom > div:first-child {
  display: flex;
  flex-direction: row;
}

.about.page .bottom > div:first-child > * {
  display: flex;
  flex-direction: column;
}

.about.page .bottom > div:first-child > div:first-child > * {
  width: 140px;
  color: var(--text-dark);
  font-weight: bold;
  margin-top: 20px;
}

.about.page .bottom > div:first-child > div:last-child > * {
  flex: 1;
  margin-top: 20px;
  font-weight: normal;
}

.about.page .right {
  color: #555;
}

.about.page .right h2 {
  color: #2d3e50;
  display: inline-flex;
  align-items: center;
}

.about.page .right .dot {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  font-size: 20px;
  color: white;
  background-color: #2d3e50;
  margin-right: 10px;
}

.about.page .right h2 svg::before {
  display: inline-block;
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 12px;
  color: white;
  background-color: #2d3e50;
  margin-right: 8px;
}

.experience {
  display: flex;
  flex-direction: column;
  padding-left: 35px;
  position: relative;
}

.experience > div:first-child {
  display: flex;
}

.experience .position {
  color: #2d3e50;
  font-weight: bold;
  white-space:'no-wrap';
}

.experience .company {
  margin-left: 6px;
}

.experience .time {
  margin-top: 3px;
  margin-bottom: 24px;
  opacity: 0.7;
}

.experience .description > p {
  padding-left: 15px;
  margin: 0 0 10px 0;
}

.experience .description::before {
  position: absolute;
  content: '-';
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
}


.experience::before {
  content: '';
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  margin-left: -34px;
  margin-top: -4px;
  margin-right: 10px;
  border-radius: 50%;
  border: #2d3e50 4px solid;
}

.experience::after {
  content: '';
  display: inline-block;
  position: absolute;
  top:0;
  bottom:0;
  margin-top: 16px;
  margin-left: -24px;
  width: 3px;
  height: calc(100% - 16px);
  background: #3d405b;
}

@media only screen and (max-width: 1160px) {
  .about.page {
    flex-direction: column;
  }
  .about.page .left {
    width: 100%;
    height: 100vh;
  }
  .about.page .right {
    width: unset;
    max-width: 86vw;
  }
  .about.page .center.top::after {
    display: none;
  }
}